/* for all screen-widths */
body{
    background-color:white;
}
a:hover{
    font-style: italic;
}
#stickad{
    position: sticky;
    bottom: 0%;
}
.navbar{
    width:100%;
    background-color:ghostwhite;
    position: sticky;
    top:0%;
    padding-bottom: 1%;
}
.navbutton{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: none;
    margin-left: 1%;
    font-weight: bolder;
    color:black;
    background-color: ghostwhite;
    width: fit-content;
}
.title{
    background-color: floralwhite;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bolder;
    color:#184bf9;
    position: sticky;
    top:0%;
    z-index: 2;
    opacity: 90%;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}
.topstick{
    position: sticky;
    top:0%;
    z-index: 1;
}
.homebutton{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    color: black;
    background-color: ghostwhite;
    border-color: #184bf9;
    padding: 1%;
}
.textpage{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aliceblue; */
    /* background-color: lightyellow; */
    background-color:rgb(252, 234, 214);
    color: black;
    opacity: 85%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    z-index: 1;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 0.1%;
    border-radius: 3%;
}
.subnavbutton{
    color:darkslateblue;
    background-color: floralwhite;
    width: fit-content;
    font-size: 90%;
    font-family:'Arial Narrow Bold', sans-serif;
    border-style: none;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding-right: 1%;
    text-align: center;
    font-weight: bold;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color:whitesmoke;
    text-align: center;
    margin-top: 1%;
    padding: 1%;
    padding-bottom: 0.5%;
    opacity: 80%;
}
.ad{
    display: block;
    background-color:lightgray;
    opacity: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: rgba(0, 0, 0, 0.67);
    border: dashed 2px #184bf9;
}
table#commschart{
    border: solid 3px;
    border-collapse: collapse;
}   
.order{
    display: block;
    color: whitesmoke;
    background-color:slategrey;
    z-index: 1;
    min-width: fit-content;
    width: 20%;
    font-size: 200%;
    position: sticky;
    bottom: 1%;
    padding: 2%;
    margin: 1%;
    float: right;
    right: 5%;
}
table#termtable{
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
ul#terms{
    text-align: left;
}
ol#terms{
    text-align: left;
}
/* for phone screens */
@media screen and (max-width: 736px) {
    .banner{
        width: 100%;
    }
    .navbutton{
        font-size: 203%;
    }
    #name{
        font-size: 175%;
    }
    .title{
        font-size: 160%;
        padding-bottom: 1%;
    }
    .homebutton{
        display: block;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        font-size: 225%;
    }
    .textpage{
        width: 94%;
        font-size: 150%;
    }
    table.gallery{
        display: block;
        width: 96%;
        position: relative;
        margin-left:2%;
        border-radius: 5%;
    }
    footer{
        font-size: 115%;
    }
    .ad{
        width: 100%;
        padding: 2%;
        font-size: 135%;
    }
    .ad:hover{
        padding: 4%;
        font-size: 150%;
    }
    #commspic{
        width: 98%;
    }
    table#commschart{
        font-size: 85%;
        width: 100%;
    }
}
/* for PC and tablet screens*/
@media screen and (min-width: 736px) {
    /* interactives (only widescreens) */
    .navbutton:hover{
        background-color:ghostwhite;
        text-shadow: 1px 1px 3px darkgray;
        font-style: italic;
    }
    .homebutton:hover{
        background-color: ghostwhite;
        font-style: italic;
    }
    .subnavbutton:hover{
        background-color: floralwhite;
        text-shadow: 1px 1px 3px darkslateblue;

    }
    .order:hover{
        text-shadow: 1px 1px 3px darkgrey;
        font-style: italic;
    }
    /* formatting and sizing */
    #homebanner{
        position: relative;
        width: 66%;
        left:17%
    }
    .banner{
        position: relative;
        width: 80%;
        left: 10%;
    }
    .navbutton{
        font-size: 225%;
    }
    #name{
        font-size: 150%;
    }
    .title{
        font-size: 200%;
    }
    .homebutton{
        display: inline-block;
        width:25%;
        position: relative;
        left: 10%;
        margin-left:1%;
        font-size: 235%;
    }
    .textpage{
        width: 75%;
        font-size: 160%;
    }
    table.gallery{
        display: inline-block;
        max-width: 49%;
        position: relative;
        left: 1%;
    }
    footer{
        font-size: 135%;
    }
    .ad{
        width: 85%;
        padding: 1%;
        font-size: 150%;
    }
    .ad:hover{
        padding: 2%;
        font-size: 175%;
    }
    #commspic{
        width: 45%;
    }
    table#commschart{
        min-width: fit-content;
        width: 55%;
        margin-right: auto; 
        margin-left: auto;
    }
}